<button class="icon-btn <%= locals.variant %>" <%= locals.dataAttr %> data-ripple>

  <span class="material-symbols-rounded icon" translate="no"> <%= locals.icon %> </span>

  <div class="state-layer"></div>
</button>