<button
  class="icon-btn play-btn  <%= locals.variant %>"
  data-play-btn="play"
  <%- locals.dataAttr %>
  data-ripple >
  <span class="material-symbols-rounded icon play-icon" translate="no">play_arrow</span>
  <span class="material-symbols-rounded icon pause-icon" translate="no">pause</span>
  <div class="state-layer"></div>
</button>
